/* import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.poppins-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-7 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


body{



    #nav{
      transition: all 0.3s;
        .navlink{
            transition: all 0.3s;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 550;
        }
    }

    .header-container{
        background: url('../assets/image/header.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    .active{
      border-bottom: 1px solid #eeeeee;
    }
   
    .btn{
      transition: all 0.3s;
    
    }
    .btn:hover{
      box-shadow: 0 10px 20px rgba(255, 0, 0, 0.407);
    }
    .menu-item-container{
     
          .menu-btn{
            transition: all 0.4s;
            background-color: transparent;
        
      
          }
      
          .menu-btn:hover{
            background-color: #f42f2c;
            color: white;
            border-radius: 3px;
      
          }
     
          .menu-item{
            transition: all 0.4s;
          }
         
    }
    .active-btn{
      outline: none;
      background-color: rgb(255, 0, 0);
      color: white;
      transform: translateY(-7px);
    }

    .reserve-container{
      background: url('../assets/image/pizza-bg.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: center;

         .overlay{
            background-color: rgba(17,22,24,0.75);
         }
    }

    .reserve-form-container{
      form{
        input{
        text-align: left;
        text-transform: capitalize;
        font-family: 'poppins';
        font-weight: 200;
        font-size: 14px;
        padding: 5px 10px;
        }
        input:focus{
          outline: none;
          border: 0.5px solid red;
      
        }
        
      }
    }

   
}